.main_link_block {
    margin: 8px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gilroy', sans-serif;
}

.info_link_block {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.link_block{
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.die_block {
    display: flex;
}

.best,
.available,
.cotton {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 12px;
}

.best {
    background-color: #8B123B;
}

.available {
    background-color: #BD9365;
    margin: 0 8px;

}

.cotton {
    background-color: #282828;
}


.modal_block {
    display: flex;
    justify-content: space-between;
}