.one_comment {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.personal_info {
    display: flex;
    justify-content: space-between;
}

.user_img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    border-radius: 50%;
}

.data_block {
    font-size: 14px;
    color: #B0AFAB;
}

.characteristics {
    font-size: 14px;
    margin-top: 10px;
}

.feedback_photo {
    width: 100px;
    height: 150px;
    border-radius: 4px;
    margin: 10px 10px 0 0;
}

.answers_block {
    display: flex;
    margin-top: 20px;
}

.answers {
    width: 100%;
    background: #FAF1E8;
    border-radius: 10px;
    padding: 16px;
    margin-left: 30px;
}

.answers_user {
    display: flex;
    align-items: center;
}